@charset "UTF-8";

H1{
    text-decoration: none;  
    font-weight:lighter;
    margin: 0;
    padding: 0;
}

li,ul,body,main{
    color: #fff;
    text-decoration: none;  
    list-style: none;
    margin: 0;
    padding: 0;
}

a,p{
	color: #fff;
    text-decoration: none; 
	margin: 0;
    padding: 0;
}


.wrapper{
    position: relative;
    padding-bottom: 171px;
}

.BG{
    width: 100%;
    height: 100%;
    background-color: black;
}

@media screen and (max-width:480px) {
	.BG{
		width: 100%;
		height: 100%;
		background-color: rgb(6, 6, 6);
	}
}


html {
    scroll-behavior: smooth;
}

html,body {
	overflow-x: hidden;
  }

.content{
    position: relative;
    text-align: center;
}

::-webkit-scrollbar {
    width: 0%;
  }

::-webkit-scrollbar-thumb{
    background-color: transparent;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::selection { 
    color: rgb(137, 212, 255);
}



/* ナビ */

.nav{
    position: sticky;
    display: flex;
    justify-content: center;
    width: 80%;
    padding: 40px;
    margin: 0 auto;
    top: 0;
    z-index: 999;
}

.nav li{
    display: block;
    position: relative;
	padding-left: 20px;
	padding-right: 20px;
}

.nav li a{
   display: block;
   text-align: center;
}

.nav li a::after {
    content: "";
    display: block;
    border-bottom: solid 2px #ffffff;
    width: 0;
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    transition: all 0.3s ease;
}

.nav li a:hover::after {
    width: 70%;
}


@media screen and (max-width:480px) {
	.nav li a:hover::after {
		width: 0;
	}


}

/* reel on off */


.play_reel {
    position: fixed;
    width: 50px;
    height: auto;
    z-index: 999;
    top: 5%;
    right: 30px;
}
  
.play_reel input[type="checkbox"] {
    display : none;          
}
  
.play_reel label {
    display : block;               
    box-sizing : border-box;         
    text-align : left;              
    border : 2px solid #ffffff;  
    border-radius : 3px;              
    line-height : 1;  
    margin: auto;              
    height : 20px;  
    width: 40px;               
}

.play_reel #play_reel_box {
    display :inline-block;
    height : 100%;               
    width : 50%;                         
    transition : .3s;
    background : #FFF;           
}


.play_reel #play_reel_check:checked ~ label #play_reel_box {
    transform: translateX(100%);
    background-color: white;
}

.play_reel #play_reel_box.animating {
    pointer-events: none;
}


@media screen and (max-width:480px) {
	.play_reel{
		display: none;
	}
}


/* about */

.about{
	font-size: 20px;
    padding-top: 350px;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 350px;
}

.name{
    font-size: 20px;
    padding-bottom: 10px;
    text-align: center;
    margin: 0 auto;
}

.introduction{
    font-size: 15px;
}

@media screen and (max-width:480px) {
	.about{
		padding-top: 150px;
		padding-bottom: 150px;
	}

	.name{
		font-size: 15px;

	}
}

/* work */

.border{
	padding-top: 30px;
	margin: auto;
	max-width:600px ;
	width: 70%;
	border-bottom: solid 1px #FFFFFF;
}

.work{
	font-size: 20px;
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
	padding-bottom: 50px;
}

.work-info p a:hover{
	color: rgb(137, 212, 255);
	transition: 0.3s;
}

.work-info p a{
	transition: 0.3s;
}

.work-info{
	padding-top: 40px;
	padding-bottom: 20px;
}

.work-title{
	font-size: 25px;
}

.work-style{
	font-size: 12.5px;
}

.work-date{
	font-size: 12.5px;
	padding-bottom: 10px;
}

.work-detail{
	margin: auto;
	width: 70%;
	font-size: 15px;
}

.work-play{
	font-size: 15px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.work-play{
	background-image: url(miro.svg);
	background-repeat: no-repeat;
	background-position: 50% -18px;
	background-size: 140px;
}

.work-img img{
	display: block;
	margin: 5px auto;
	max-width:600px ;
	max-height:600px ;
	width: 70%;
	height: 70%;
}

@media screen and (max-width:480px) {
	.work-info p a:hover{
		color: #ffffff;;
	}

	.work{
		font-size: 15px;
	}
	

	.work-title{
		font-size: 20px;
	}
	

	.work-style{
		font-size: 10px;
	}

	.work-date{
		font-size: 10px;
	}

	.work-detail{
		font-size: 10px;
	}

	.work-play{
		font-size: 15px;
		background-image: url(miro.svg);
		background-repeat: no-repeat;
		background-position: 50% -5px;
		background-size: 110px;
	}

	
}

/* contact */
.contact{
	font-size: 20px;
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 10px;
}

.svg-mail {
	margin: auto;
	width: 40px;
	height: 40px;
	transition: 0.2s ease;
  }

  .svg-mail:hover{
	transform: scale(1.1);
	transition: 0.2s ease;
  }
  
  .svg-mail path,
  .svg-mail polygon,
  .svg-mail rect {
	fill: #ffffff;
  }
  
  .mailadress{
	font-size: 25px;
  }

  .irai{
	font-size: 11px;
  }

.REELvimeo{
	padding-top: 60px;
}


@media screen and (max-width:480px) {
	.contact{
		font-size: 15px;
	}

	.svg-mail{
		display: none;
	}

	.mailadress{
		font-size: 20px;
	}

	.mailadress p{
		display: none;
	}

	.REELvimeo{
		display: none;
	}
}

/* totop */

.totop a svg{
    transition: 0.4s cubic-bezier(.175, .885, .32, 1.275);;
}

.totop a svg:hover{
    transform: scale(1.075);
    transition: 0.4s cubic-bezier(.175, .885, .32, 1.275);;
}

.svg-top {
    position: fixed;
    width: 50px;
    height: auto;
    z-index: 999;
    top: 85%;
    right: 30px;
  }
  
  .svg-top path,
  .svg-top polygon,
  .svg-top rect {
    fill: #ffffff;
  }




/* reel BG */

.reel_container{
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.reel_container video{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 40%;
    
}


@media screen and (max-width:480px) {
	.reel_container{
		display: none;
	}
}
